a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container{
    margin: auto;
    width: 1140px;
    height: auto;
}
header{
    background-color: black;
    height: auto;
    padding: 14px 0px;
}
.header_1{
    display: flex;
    justify-content: space-between;
    height: auto;
}
.header_2{
    display: flex;
    gap: 27px;
    color: azure;
}
.header_3 {
    display: flex;
    gap: 15px;
    color: azure;
    font-size: 16px;
}
.header_3 a{
    color: #FFFFFF;
}
.header_4{
    font-size: 12px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}
.header_5{
    font-size: 12px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}
/* navber */
nav{
    padding: 27px 0;
    background-color: red;
}
.nav1{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.nav3{
    display: flex;
    gap: 40px;
}
.nav4 {
    display: flex;
    gap: 70px;
}
.nav4 a{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;
}
.nav5 a{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;
    padding: 14px 30px;
    border: solid 2px;
    border-color: #FFFFFF;
}
























/* contact */
#contact{
    padding: 47px 0;
    background-color: red;
    border-bottom: solid 2px #FFB800;
}
.contact1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact2 h4{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.contact2 #btn5{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 10px 24px;
    border: solid 2px #FFFFFF;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
}
/* footer */
#footer{
    padding: 150px 0 170px 0;
    background-color: #1F1F1F;
}
.footer{
    display: flex;
   justify-content: space-between;
}
.footer2{
    padding: 35px 0px;
}
.footer2 a {
    display: block;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}
.footer3 a{
    font-size: 29px;
    padding-right: 20px;
    gap: 20px;
    color: red;
}
.footer4 h5{
    padding-bottom: 21px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.footer4 a {
    display: block;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}
/* footer2 */
#footer2{
    padding: 45px 0;
    background-color: #282828;
}
#footer2 span{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}